body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F8FCFF;
}

/* верхнее меню */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.title-row {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

/* кнопки "авторизация" и "регистрация" */
.auth-title, .reg-title {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    color: #737D85;
    margin: 0 10px;
}
  
.auth-title:active, .reg-title:active {
    color: #003158;
}
  
.auth-title:focus, .reg-title:focus {
    outline: none;
    color: #003158;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    color: #737D85;
}

h1:hover {
    color: #003158;
}

/* форма регистрации */
.registration-form {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

/* поля ввода*/
.input-wrapper { 
    margin-bottom: 10px; 
    position: relative; 
    display: flex; 
    align-items: center; 
} 

.magic-label { 
    position: absolute; 
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); 
    font-size: 12px; 
    color: #737D85; 
    transition: all 0.3s ease; 
    padding: 10px 5px 5px 5px;
} 

input:focus + .magic-label,
input:not(:placeholder-shown) + .magic-label {
    top: 10px;
    font-size: 10px;
    color: #003158;
}

input:focus {
    outline: none;
}

input {
    width: 100%;
    padding: 20px 20px 15px 15px;
    border: 1px solid #737D85;
    border-radius: 5px;
}

/* подсказки в полях ввода*/
p {
    font-size: 12px;
    font-weight: 300;
    color: #003158;
}

/* фон подсказки*/
.blur {  
    display: inline-block;  
    background-color: #D6E1FF;  
    padding: 5px;
} 

/* кнопки "да" и "нет"*/
.buttons {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 10px;
    margin: 0 5px;
    background-color: #737D85;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.buttons button img {
    margin-left: 5px;
}

button:hover {
    background-color: #003158;
}

.consent {
    text-align: center;
}

/* кнопки, которые во всю ширину экрана*/
.big-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #737D85;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.big-button:hover {
    background-color: #003158;
}

.icon {
    filter: invert(50%) sepia(7%) saturate(567%) hue-rotate(164deg) brightness(96%) contrast(89%);
    cursor: pointer;
}

.icon:hover {
    filter: invert(14%) sepia(98%) saturate(880%) hue-rotate(176deg) brightness(97%) contrast(106%);
}

/* ссылки */
a {
    text-decoration: none;
    color: inherit;
}

/* нижнее меню */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EEF8FF;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    z-index: 100;
}

/* главная страница */

.main-buttons {
    display: flex;
    justify-content: center; 
    width: 95%; 
    margin: 0 auto;
}

.main-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.main-buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid #737D85;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: #737D85;
    transition: border-width 0.3s ease;
}

.main-buttons button:hover {
    border-width: 2px;
}

.main-buttons button:active {
    color: #03111D;
}

.main-buttons img {
    filter: invert(50%) sepia(7%) saturate(567%) hue-rotate(164deg) brightness(96%) contrast(89%);
}

.main-buttons button:active img {
    filter: invert(14%) sepia(98%) saturate(880%) hue-rotate(176deg) brightness(97%) contrast(106%);
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    justify-content: center;
}

.filter img {
    margin-right: 10px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-card {
    display: flex;
    background-color: #D6E1FF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.location-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.location-icons img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.location-category {
    color: #737D85;
    font-size: 14px;
    margin-bottom: 5px;
}

.location-name {
    color: #03111D;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.visit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003158;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.visit-button img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}